.app {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 10vw;
    box-sizing: border-box;
    background: #b21919;
    color: #ffffffcc;
}

.header-button {
    padding: 1rem;
    color: inherit;
    text-decoration: none;
}

.header-button:hover {
    background: #eb6d1822;
    color: #ffffff;
}

.content {
    width: 80vw;
    flex: 1;
}